# Recursive Function

Recursion is a programming idea that applies to scenarios:
1. In our daily development, if we want to traverse all the text files under a text folder, we usually use recursion to achieve;
2. In the following algorithm courses, many algorithms are inseparable from recursion, such as quicksort.

### Characteristic
- The function calls itself internally
- There must be an exit

### The sum of numbers up to 3

In [20]:
# 3 + 2 + 1
def sum_numbers(num):
    if num == 1:
        return 1  # this is an exit
    result = num + sum_numbers(num-1)# calls itself
    return result

sum_result=sum_numbers(3) # can also be others, e.g., sum_number(100)=5050

print(sum_result)

6

## Lambda expressions -- anonymous function
If a function has a return value and only one line of code, it can be simplified with lambda

lambda Argument: expression

- Arguments to lambda expressions are optional and function arguments are perfectly valid in lambda expressions. 
- Lambda functions can take any number of arguments but can only return the value of one expression

In [31]:
# function
def fn1():
    return 200

result = fn1()
print(fn1)
print(result)

# labmda
fn2 = lambda: 100 
print(fn2) # the location of fn2
print(fn2())

<function fn1 at 0x7fab15b5c3a0>
200
<function <lambda> at 0x7fab15b5c430>
100

## lambda application: a + b

In [32]:
def add(a,b):
    return a+b

result=add(2,1)
print(result)

3

In [35]:
fn2 = lambda a,b: a+b
print(fn2(1,2))

3

In [36]:
print(  (lambda a,b : a+b)(1,2))

3

## The argument form of lambda

### No parameter

In [37]:
print((lambda:100)())

100

### one parameter

In [39]:
print((lambda a:a*2)('hi'))

hihi

### default paramter

In [43]:
print( (lambda a, b, c = 100: a+b+c)(100,100) )
print( (lambda a, b, c = 200: a+b+c)(100,100,100) )

300
300

### *args 
the output is a tuple

In [46]:
print( (lambda *args: args)(10,20,30))
# the output will be a tuple
# if we only have one input
print( (lambda *args:args)(10)) # there is a comma ,

(10, 20, 30)
(10,)

### **kargs
the output will be a dictionary

In [49]:
print((lambda **kwargs:kwargs)(name='python',age=20))

{'name': 'python', 'age': 20}

## the application of lambda

### Lambda with a judgment

In [61]:
print( (lambda a,b : a if a> b else b)(100,50))
# review this type: 
# variable a, variable: condition_satisified_output if xxx else not_satisfied_output

100

### List data is sorted by the value of the dictionary key

In [64]:
students = [
    {'name': 'TOM', 'age': 20},
    {'name': 'ROSE', 'age': 19},
    {'name': 'Jack', 'age': 22}]

# order by name Ascending
students.sort(key=lambda x:x['name'])
print(students)

[{'name': 'Jack', 'age': 22}, {'name': 'ROSE', 'age': 19}, {'name': 'TOM', 'age': 20}]

In [69]:
# order by name Descending
students.sort(key=lambda x: x['name'], reverse=True)
print(students)

[{'name': 'TOM', 'age': 20}, {'name': 'ROSE', 'age': 19}, {'name': 'Jack', 'age': 22}]

In [72]:
# order by age Ascending
students.sort(key=lambda x : x['age'])
print(students)

[{'name': 'ROSE', 'age': 19}, {'name': 'TOM', 'age': 20}, {'name': 'Jack', 'age': 22}]

In [73]:
# order by age Descending
students.sort(key=lambda x:x['name'],reverse=True)
print(students)

[{'name': 'TOM', 'age': 20}, {'name': 'ROSE', 'age': 19}, {'name': 'Jack', 'age': 22}]

## higher-order function

In [76]:
abs(-10)

10

In [77]:
round(1.2)

1

In [78]:
round(1.9)

2

In [80]:
def add_num(a,b):
    return abs(a) + abs(b)

result=add_num(-1,2)
print(result)

3

In [82]:
def sum_num(a,b,f):
    return f(a)+f(b)

result=sum_num(-1,2,abs)
print(result)

3

In [84]:
def abs_num(a,b,f):
    return f(a)+f(b)

result=abs_num(-1,5,abs)
print(result)

6

### map

map(func, lst): 

Apply the function variable func to each element of the LST variable and return the result as a new column list (Python2)/ iterator (Python3)

In [88]:
list1=[1,2,3,4,5]

def func(x):
    return x**2

result=map(func,list1)
print(result) # will be the result location
print(list(result))

<map object at 0x7fab15b55a90>
[1, 4, 9, 16, 25]

### reduce

reduce(func(x,y)，lst)

Where func must take two arguments. The result of each func calculation continues to accumulate with the next element in the sequence column.

Notice: the argument func passed in by reduce() must accept two arguments

In [93]:
import functools

list1 = [1, 2, 3, 4, 5]

def func(a, b):
    return a + b

result = functools.reduce(func, list1)
print(result)  
#1+2+3+4+5

15

In [92]:
import functools

list2=[3,2,1]

def func2(a,b):
    return a-b
result = functools.reduce(func2,list2)
print(result)
#3-2-1

0

### filter

filter(func, lst)

The filter () function is used to filter out a sequence of unqualified elements, returning a filter object. If you want to convert to a list of columns, use list() to convert.

In [95]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def func(x):
    return x%2 == 0 # even number

result = filter(func,list1)

print(result)
print(list(result))

<filter object at 0x7fab15b3ebb0>
[2, 4, 6, 8, 10]

In [96]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def func(x):
    return x > 5 # even number

result = filter(func,list1)

print(result)
print(list(result))

<filter object at 0x7fab15b3e310>
[6, 7, 8, 9, 10]