### find with index

In [6]:
name_list=['Tom','Lily','Jack']
print(name_list[0])
print(name_list[1])
print(name_list[2])
## notice: it should be '[]' rather than '()'

Tom
Lily
Jack

### find with functions

In [10]:
name_list = ['Tom','Lily','Jack']
print(name_list.index('Lily',0,2))
print(name_list.index('Lilys',0,2))

1

ValueError: 'Lilys' is not in list

In [11]:
name_list = ['Tom','Lily','Jack']
print(name_list.count('Lily'))

1

In [12]:
name_list = ['Tom','Lily','Jack']
print(len(name_list))

3

### Determine

In [14]:
name_list = ['Tom','Lily','Jack']

# in 
'Tom' in name_list # True

#not  
'Tom' not in name_list  # False

False

In [17]:
name_list = ['Tom','Lily','Jack']
name = input('please input your username: ')

if name in name_list:
   print(f'username {name} is already used')
else:
  print(f'your username {name} can be used')

please input your username: Tom
username Tom is already used

## add information to list

### append

In [24]:
name_list = ['Tom','Lily','Jack']
### apped
name_list.append('Jenne')
print(name_list) ### list is changable data type
name_list.append(['11','22'])
print(name_list)

['Tom', 'Lily', 'Jack', 'Jenne']
['Tom', 'Lily', 'Jack', 'Jenne', ['11', '22']]

### extend

In [28]:
name_list = ['Tom','Lily','Jack']
name_list.extend('Jenne')  # ['Tom', 'Lily', 'Jack', 'J', 'e', 'n', 'n', 'e']
print(name_list)  
name_list.extend(['Jenee','ss']) # ['Tom', 'Lily', 'Jack', 'J', 'e', 'n', 'n', 'e', 'Jenee', 'ss']
print(name_list)

['Tom', 'Lily', 'Jack', 'J', 'e', 'n', 'n', 'e']
['Tom', 'Lily', 'Jack', 'J', 'e', 'n', 'n', 'e', 'Jenee', 'ss']

### insert -- add information into particular position

In [30]:
# listname.insert(insert postion,insert content)
name_list = ['Tom','Lily','Jack']
name_list.insert(1,'aaa')
print(name_list)

['Tom', 'aaa', 'Lily', 'Jack']

## Delete information from list

### del

In [33]:
name_list = ['Tom','Lily','Jack']
# del name_list  = del(name_list)
del name_list[0]
print(name_list)

['Lily', 'Jack']

### pop 
- delete the information with particular index. if no index is defined, the last one will be deleted. POP will return the deleted one

In [40]:
name_list = ['Tom','Lily','Jack']
del_name = name_list.pop(1)
print(del_name)
print(name_list)

Lily
['Tom', 'Jack']

### remove

In [42]:
name_list = ['Tom','Lily','Jack']
name_list.remove('Tom')
print(name_list)

['Lily', 'Jack']

### clear

In [43]:
name_list.clear()
print(name_list)

[]

### Change

### change the index

In [3]:
name_list = ['Tom','Lily','Jack']
name_list[0] ='Timmy'
print(name_list)

['Timmy', 'Lily', 'Jack']

### Reverse - change the sequence

In [8]:
list1=[1,2,5,6,3]
list1.reverse()
print(list1)

[3, 6, 5, 2, 1]

### sort

In [9]:
list1=[1,2,5,6,3]
list1.sort()
print(list1)

[1, 2, 3, 5, 6]

In [10]:
list1=[1,2,5,6,3]
list1.sort(key=None,reverse=True)
print(list1)

[6, 5, 3, 2, 1]

### Copy

In [12]:
name_list = ['Tom','Lily','Jack']
name_list_copy=name_list.copy()
print(name_list_copy)

['Tom', 'Lily', 'Jack']

### while (for list)

In [13]:
name_list = ['Tom','Lily','Jack']
i = 0 
while i < len(name_list):
      print(name_list[i])
      i+=1

Tom
Lily
Jack

### For (for list)

In [14]:
name_list = ['Tom','Lily','Jack']

for i in name_list:  # i represents each 'xx'
    print(i)

Tom
Lily
Jack

### Inner List

In [16]:
name_list = [ ['1','2','3'],['Tom','Lily','Jack'],['yesterday','today','tomorrow']]
print(name_list[2])
print(name_list[2][0]) # find the first one in the third inner list

['yesterday', 'today', 'tomorrow']
yesterday

### IMPORTANT!!! application: randomly allocate office rooms

In [51]:
# eight teachers, three office rooms, randomly allocate each teacher
teachers=['a','b','c','d','e','f','g','h']
offices = [[],[],[]] ; 

import random

for name in teachers:
                           # add information into list: append, extend,insert -> should use append
    num=random.randint(0,2)
    offices[num].append(name)
print(offices)

[['b', 'd', 'f', 'g', 'h'], ['a', 'c'], ['e']]

In [50]:
# print the number of teachers in each office
teachers=['a','b','c','d','e','f','g','h']
offices = [[],[],[]] ;

import random

for name in teachers:
    num=random.randint(0,2)
    offices[num].append(name)
    

for office in offices:
    print(f'number of teachers in office is {len(office)}')

    # print teacher's name in each office

number of teachers in office is 4
number of teachers in office is 1
number of teachers in office is 3

In [6]:
teachers=['a','b','c','d','e','f','g','h']
offices = [[],[],[]] ;

import random

for name in teachers:
    num=random.randint(0,2)
    offices[num].append(name)

for office in offices:
    print(f'number of teachers in office is {len(office)}')

number of teachers in office is 4
number of teachers in office is 3
number of teachers in office is 1

In [21]:
teachers=['a','b','c','d','e','f','g','h']
offices = [[],[],[]] ;

import random

for name in teachers:
    num=random.randint(0,2)
    offices[num].append(name)
    
i = 1

for office in offices:
    print(f' office {i} has {len(office)} teachers, they are: ')
    
    for name in office:
        print(name)
    i+=1
    # print teacher's name in each office

 office 1 has 2 teachers, they are:
d
e
 office 2 has 3 teachers, they are:
a
f
h
 office 3 has 3 teachers, they are:
b
c
g

## tuple

when we want to save several datasets, and this data cannot be changed.

What should we do?

The data in LIST can be changed.

The data in tuple cannot be changed.

In [24]:
t1=(10,20,30)
type(t1)

tuple

In [25]:
t2=(10)
type(t2)

int

In [26]:
t3=(10,)
type(t2)

tuple

In [27]:
t4=('aaaa')
type(t4)

str

In [28]:
t5=('aaaa',)
type(t5)

tuple

In [29]:
tuple1=('aa','bb','cc','dd')
print(tuple1[0])

aa

In [31]:
tuple1=('aa','bb','cc','dd')
tuple1.index('bb')

1

In [32]:
tuple1=('aa','bb','cc','dd')
len(tuple1)

4

In [34]:
t1=('aa','bb','cc','dd')
t2=('aa','bb',['cc','dd'])
t2[2]

['cc', 'dd']

In [36]:
t1=('aa','bb','cc','dd')
t2=('aa','bb',['cc','dd'])
t2[2][0]

'cc'

### we can change the list in the tuple

In [37]:
t1=('aa','bb','cc','dd')
t2=('aa','bb',['cc','dd'])
t2[2][0] ='Tom'
print(t2)

('aa', 'bb', ['Tom', 'dd'])