## Dictionary

In [1]:
dict1={'name':'Tom','age':20,'gender':'M'}
print(dict1)

{'name': 'Tom', 'age': 20, 'gender': 'M'}

In [2]:
dict2={}
type(dict2)

dict

In [3]:
dict3=dict()
type(dict3)

dict

In [4]:
dict1={'name':'Tom','age':20,'gender':'M'}
dict1['name'] = 'Rose'
dict1

{'name': 'Rose', 'age': 20, 'gender': 'M'}

In [5]:
dict1['id'] = 110
dict1

{'name': 'Rose', 'age': 20, 'gender': 'M', 'id': 110}

In [7]:
dict1={'name': 'Rose', 'age': 20, 'gender': 'M', 'id': 110}
del dict1['name']
dict1

{'age': 20, 'gender': 'M', 'id': 110}

In [11]:
dict1={'name': 'Rose', 'age': 20, 'gender': 'M', 'id': 110}
del dict1
dict1

NameError: name 'dict1' is not defined

In [10]:
dict1={'name': 'Rose', 'age': 20, 'gender': 'M', 'id': 110}
dict1.clear()
dict1

{}

In [16]:
dict1={'name':'Tom','age':20,'gender':'M'}
for key in dict1.keys(): # keyS!!!
    print(key)

name
age
gender

In [20]:
dict1={'name':'Tom','age':20,'gender':'M'}
for value in dict1.values():
    print(value)

Tom
20
M

In [21]:
dict1={'name':'Tom','age':20,'gender':'M'}
for item in dict1.items():
    print(item)

('name', 'Tom')
('age', 20)
('gender', 'M')

In [22]:
dict1={'name':'Tom','age':20,'gender':'M'}
for key,value in dict1.items():
    print(f'{key}={value}')

name=Tom
age=20
gender=M

## Set

In [25]:
s1={10,20,30,40,50}
type(s1)

set

In [26]:
s2={10,10,10,10,20,30,40,50} # duplicated data
print(s2) # will automatically delete the duplicated one

{50, 20, 40, 10, 30}

In [27]:
s3=set('abdf')
print(s3)

{'b', 'a', 'f', 'd'}

In [28]:
s4=set()
type(s4)

set

In [29]:
s5={}
type(s5)

dict

In [30]:
s1={10,20}
s1.add(100)
s1.add(10)  ## add can only add one data 
s1

{10, 20, 100}

In [31]:
s1={10,20}
s1.update(100)

TypeError: 'int' object is not iterable

In [32]:
s1={10,20}
s1.update([100,200]) # update: a new list in
s1

{10, 20, 100, 200}

In [36]:
s1={10,20,30,40,50}
s1.remove(10)
print(s1)

{50, 20, 40, 30}

In [37]:
s1={10,20,30,40,50}
s1.remove(100)
print(s1)

KeyError: 100

In [38]:
s1={10,20,30,40,50}
s1.discard(10)
print(s1)

{50, 20, 40, 30}

In [39]:
s1={10,20,30,40,50}
s1.discard(100)
print(s1)

{50, 20, 40, 10, 30}

In [42]:
del_num=s1.pop() # randomly select which one to delete
print(del_num)
print(s1)

20
{40, 10, 30}

In [43]:
s1={10,20,30,40,50}
print (10 in s1)

True

In [44]:
s1={10,20,30,40,50}
print (10 not in s1)

False